[bumpversion]
current_version = 0.1.0
commit = True

[bumpversion:file:README.md]

[bumpversion:file:client/version.go]

[bumpversion:file:server/version.go]

[bumpversion:file:docs/content/index.md]

[bumpversion:file:docs/content/client.md]

[bumpversion:file:docs/content/server.md]
